@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 248 175 18;
  --color-secondary: 20 60 101;
  --color-page: 255 255 255;
  --color-body: 18 47 51;
  --container-width: 80rem;
  --gutter: 1.25rem;
  --columns: 1;
}

@screen md {
  :root {
    --gutter: 2rem;
  }
}

@screen lg {
  :root {
    --gutter: 3rem;
    --columns: 3;
  }
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-mustard;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px theme('colors.mustard'), 0 0 5px theme('colors.mustard');
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  left: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: theme('colors.mustard');
  border-left-color: theme('colors.mustard');
  border-radius: 50%;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
